/*.App {
  text-align: center;
  /*background-color: #282c34
  background-color: aqua;
}
 #Header{
  height: 600px;
  color: blue;
}*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}

#head{
  background-color: aqua;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer{
  text-align: center;
}

